/* Texte a droite */

.droite {
    display: flex;
}

.droite>section {
    font-size: 25px;
    color: black;
}

main section {
    border: #1F2933 solid 2px;
    margin-top: 50px;
    padding: 25px;
}

/* img bas */

main ul a li {
    border: #1F2933 solid 2px;
    margin-top: 50px;
    margin: 25px;
    list-style: none;
    justify-content: center;

}

.imgbas {
    width: 75%;
    height: auto;
    transition: 1s;
}

.imgbas:hover {
    transition: 1s;
    width: 100%;
    height: auto;
}

main ul {
    display: flex;
}

main ul li h2 {
    text-align: center;
}