.droite {
    display: flex;
}

.img:hover {
    transform: scale(110%);
    transition: 1s;
}

.img {
    transition: 1s;
}

.basdroite>section>.img {
    margin-right: -150px;
}

.img>main>section>section {
    display: flex;
    flex-direction: column;
    font-size: 22px;
}

p {
    font-size: 25px;
}

.basdroite {
    display: flex;
}

.basimg {
    width: 50%;
    height: auto;
}

h2 {
    font-size: 15px;
    margin-left: 40%;
}

.basdroite>section {
    border: #1F2933 solid 2px;
    width: fit-content;
    margin: 10px;
}