.imgparcours {
    flex-wrap: wrap;
    float: right;
    margin-top: 0%;
}

.imgparcours>img {
    width: 500px;
}

/* Titre */
h1,
h2,
h3 {
    margin-left: 20px;
}

/* Section */
main>section {
    border: #1F2933 solid 2px;
    margin-top: 50px;
    padding: 25px;
}

/* Paragraphe*/

p {
    margin-left: 20px;
}